@import "tailwindcss";

@theme {
  colors: {
    primary: #4d9ac1;
    link: #4d9ac1;
    bg: {
      layout: #ffffff;
    }
    text: {
      main: #0b0a13;
    }
    menu: {
      item: #2a3e52;
      selected: #b5dbed;
      hover: {
        bg: #4d9ac1;
        text: #b5dbed;
      }
      selectedbg: #4d9ac1;
    }
    layout: {
      header: {
        bg: #2a3e52;
        text: #ffffff;
      }
    }
    button: {
      primary: #4d9ac1;
      hover: #2a3e52;
      active: #2a3e52;
    }
  }

  fontSize: {
    menu: 14px;
  }
}
